.button-container {
    display: flex;
}

.btb-btn {
    text-align: center;
    width: 180px;
  }

.logo:hover {
    cursor: pointer;
}

#book-cover {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}