.book-title {
    cursor: pointer;
}

* {
  font-family: 'Quicksand', sans-serif;
}

.container {
  border-radius: 15px;
}
.logo:hover {
  cursor: pointer;
}

.book-cover {
  width: 100%;
  height: 100%;
}

.book-title:hover {
    text-decoration: underline;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    width: 350px;  /* Adjust as needed */
  }
  
  .btb-btn {
    width: 167px;
  }

@media (min-width: 768px) { /* Desktop and tablet styles */
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  
    .grid > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
  
    .flex {
      height: 80%; /* Adjust this value as necessary */
      margin-bottom: auto; /* Pushes the button to the bottom of the div */
    }
  }
  
  @media (max-width: 767px) { /* Mobile styles */
    .grid {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    .grid > div {
      height: auto;
    }

  }
  