@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}

.book-title {
  cursor: pointer;
}

* {
  font-family: "Quicksand", sans-serif;
}

.container {
  border-radius: 15px;
  height: 100%;
}
.logo:hover {
  cursor: pointer;
}

.home-section {
  background: linear-gradient(
    306deg,
    rgba(121, 187, 40, 1) 0%,
    rgba(6, 108, 55, 1) 100%
  );
}

.text-section {
  width: 70%;
}

.book-cover {
  width: 30%;
  height: 100%;
}

.book-title:hover {
  text-decoration: underline;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 350px; /* Adjust as needed */
}

.btb-btn {
  width: 167px;
}

@media (min-width: 768px) {
  /* Desktop and tablet styles */
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .grid > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .flex {
    height: 80%; /* Adjust this value as necessary */
  }

  .shown-in-large-screen {
    display: none;
  }
}

@media (max-width: 767px) {
  /* Mobile styles */
  .grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .grid > div {
    height: auto;
  }

  .remove-button {
    margin-top: 10px;
  }

  .add-button {
    margin-top: 10px;
  }

  .hidden-in-small-screen {
    display: none;
  }
}
