.book-title {
    cursor: pointer;
}

<<<<<<< HEAD:assets/css/style.css
.flex-nav {
  display: flex;
=======
.logo:hover {
  cursor: pointer;
}

.book-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
>>>>>>> 1472afad6bffbe1b030a76fccf735b69dc75b994:assets/css/homepage.css
}


.book-title:hover {
    text-decoration: underline;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    width: 350px;  /* Adjust as needed */
  }
  
  .btb-btn {
    width: 167px;
  }

  .book-cover-wrapper {
    width: 100%; /* adjust this to change the width */
    height: 100%; /* adjust this to change the height */
  }
  
  .book-cover {
    width: 100%;
    height: 100%;
    object-fit: cover; /* this makes the image cover the div without distorting */
  }

@media (min-width: 768px) { /* Desktop and tablet styles */
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  
    .grid > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
  
    .flex {
      height: 80%; /* Adjust this value as necessary */
      margin-bottom: auto; /* Pushes the button to the bottom of the div */
    }
  
    .remove-button {
      width: 100%;
      height: 50px; /* Adjust this value as necessary */
    }
  }
  
  @media (max-width: 767px) { /* Mobile styles */
    .grid {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    .grid > div {
      height: auto;
    }
  
    .remove-button {
      width: 100%;
      height: 50px; /* Adjust this value as necessary */
    }
  }
  