@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

.logo:hover {
  cursor: pointer;
}

.bookshelf-section {
  background: linear-gradient(
    306deg,
    rgba(121, 187, 40, 1) 0%,
    rgba(6, 108, 55, 1) 100%
  );
}

.card-min-width {
  min-width: 260px;
}

.card-img {
  height: auto;
  width: 40%;
}

.book-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.card-width {
  width: calc(100% / 6 - 1rem);
  flex-grow: 1;
}

.card-top-height {
  height: auto;
}

.card-description {
  height: 300px;
  width: 100%;
}

.remove-btn:hover {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

@media screen and (max-width: 1200px) {
  .card-width {
    width: calc(100% / 4 - 1rem);
  }
}

@media screen and (max-width: 1000px) {
  .card-width {
    width: calc(100% / 3 - 1rem);
  }
}

@media screen and (max-width: 800px) {
  .card-width {
    width: calc(100% / 2 - 1rem);
  }
}

@media screen and (max-width: 600px) {
  .card-width {
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .card-img {
    height: auto;
    width: 30%;
  }

  .card-description {
    height: 180px;
  }
}

@media screen and (min-width: 850px) {
  .card-description {
    height: 250px;
  }
}

@media screen and (min-width: 1000px) {
}

@media screen and (min-width: 1200px) {
  .card-description {
    height: 250px;
  }
}

@media (min-width: 768px) {
  /* Desktop and tablet styles */
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .grid > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .flex {
    height: 80%; /* Adjust this value as necessary */
  }

  .shown-in-large-screen {
    display: none;
  }
}

@media (max-width: 767px) {
  /* Mobile styles */
  .grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .grid > div {
    height: auto;
  }

  .remove-button {
    margin-top: 10px;
  }

  .add-button {
    margin-top: 10px;
  }

  .hidden-in-small-screen {
    display: none;
  }
}
