@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}

:root {
  --pop: #f5f5f5;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
}

.book-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.section-header {
  background-color: rgb(229, 231, 235);
}

.card-img {
  height: 350px;
  width: 100%;
}

header {
  text-align: center;
  background-color: #4f3636;
  padding: 20px;
  color: white;
  font-style: italic;
  padding: 10px;
  border: 5px solid var(--pop);
}
.category {
  max-width: 2000px;
  background: linear-gradient(
    306deg,
    rgba(121, 187, 40, 1) 0%,
    rgba(6, 108, 55, 1) 100%
  );
}
.category h2 {
  text-align: left;
  font-size: 24px;
  padding: 10px;
  border: 5px solid var(--pop);
}
.bookshelf {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 10px;
}
.book {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-align: center;

  background-color: rgb(229, 231, 235);
  border-radius: 15px;
  width: 250px;
  height: 100%;
}

.book-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: space-between;
}

.logo:hover {
  cursor: pointer;
}

.book .book-title {
  font-size: 16px;
  font-weight: bolder;
  width: 100%;
  white-space: normal;
}

.book .book-author {
  font-size: 14px;
  font-weight: bolder;
  color: #666;
  white-space: normal;
}
@media (hover: hover) {
  .bookshelf:hover {
    overflow-x: auto;
  }
}
@media (hover: none) {
  .bookshelf {
    overflow-x: auto;
  }
}

@media (min-width: 768px) {
  /* Desktop and tablet styles */
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .grid > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .flex {
    height: 80%; /* Adjust this value as necessary */
  }

  .shown-in-large-screen {
    display: none;
  }
}

@media (max-width: 767px) {
  /* Mobile styles */
  .grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .grid > div {
    height: auto;
  }

  .remove-button {
    margin-top: 10px;
  }

  .add-button {
    margin-top: 10px;
  }

  .hidden-in-small-screen {
    display: none;
  }
}
